# Database Configuration
DB_URL=jdbc:postgresql://<host>:<port>/<database>?<options>
DB_USERNAME=your_username
DB_PASSWORD=your_password

# Brevo (Email) Configuration
BREVO_API_KEY=your_brevo_api_key

# Port
PORT=8080
